*{
    background-color:#1d002b;
    font-family:monospace, Arial, Helvetica, sans-serif;
}

nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 4%;
    padding-right: 26%;
    font-weight: bold;
}

#logo{
    height: 140px;
}

.items li{
    display: inline-block;
    padding: 45px;
}

.items a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#banner{
    height: 216px;

}

h2{
    color:#9b59b6;
}

p{
    color: #ecf0f1;
}