*{
    
    font-family:monospace, Arial, Helvetica, sans-serif;
}
body{
    background-color:#1d002b;
    margin: 0px;
    padding: 0%;
    min-height: 100vh;
}
/* barra de navegación */
nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2px;
    padding-left: 1%;
    padding-right: 3%;
    font-weight: bold;
}

#logo{
    height: 140px;
}

.items li{
    display: inline-block;
    padding:33px;
}

.items a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#banner{
    height: 214px;
    width: 100%;

}
/* final del header */

/* footer */
footer{
    background-color: #13001c;
    padding: 22px 0;
    color: #ecf0f1;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container{
    width: 90%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
}

.col{
    text-align: center;
}

.col ul{
    list-style: none;
    padding: 0%;
}

.col ul li{
    margin-bottom: 10px;
}

.col a{
    color: azure;
    text-decoration: none;
}

/* final footer */

.frase{
    color: #6200a6;
}

h2{
    color:#9b59b6;
    /* opacity: 0.4; */
}

h3{
    color: #6929d2;
}

p{
    color: #ecf0f1;
}